<ul class="tabs">
    <li class="tab col s6"><a ng-click="$ctrl.selectTab('overview')">Overview</a></li>
    <li class="tab col s6"><a ng-click="$ctrl.selectTab('perfomance')">Perfomance</a></li>
</ul>
