<div class="crypto-table">
    <!-- Table header -->
    <div class="row">
        <!-- Search bar -->
        <nav class="col s6 crypto-search">
           <search-bar search-text="$ctrl.searchText" on-update="$ctrl.updateSearch($event)"></search-bar>
        </nav>
        <!-- Tabs -->
        <div class="col s6">
            <crypto-table-tabs selected-tab="$ctrl.selectedTab" on-update="$ctrl.selectTab($event)"></crypto-table-tabs>
        </div>
    </div>

    <!-- Table -->
    <div class="row">
        <div class="col s12" ng-switch="$ctrl.selectedTab">
            <crypto-table-overview
                ng-switch-when="overview"
                search="$ctrl.searchText"
                assets="$ctrl.assets">
            </crypto-table-overview>
            <crypto-table-perfomance
                ng-switch-when="perfomance"
                search="$ctrl.searchText"
                assets="$ctrl.assets">
            </crypto-table-perfomance>
        </div>
    </div>
</div>
