.input-field label {
  transform: none;
  transition: none;
  transform-origin: 0;
}

.crypto-search {
  position: relative;
  height: 46px;
  background-color: white;

  #search {
    height: 46px;
  }
  .material-icons {
    top: -5px;
    position: absolute;
    height: 46px;
    color: black;
  }
}

nav .input-field label i {
  color: black;
}

.input-field input[type=search] ~ .mdi-navigation-close, .input-field input[type=search] ~ .material-icons {
  top: -5px;
}

.label-icon active {
  color: black;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: #ee6e73;
  box-shadow: none;
}

.tabs .tab a {
  cursor: pointer;
}
