<table class="crypto-table-overview highlight responsive-table bordered">
    <thead>
        <tr class="centered">
            <th title="Ticker">
                <a href="#" ng-click="$ctrl.onSortClick('ticker')">
                    Ticker
                    <span ng-show="$ctrl.sortType == ('ticker') && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                    <span ng-show="$ctrl.sortType == 'ticker' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="$ctrl.onSortClick('exchange')">
                    Exchange
                    <span ng-show="$ctrl.sortType == 'exchange' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                    <span ng-show="$ctrl.sortType == 'exchange' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="$ctrl.onSortClick('price')">
                    Price
                    <span ng-show="$ctrl.sortType == 'price' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                    <span ng-show="$ctrl.sortType == 'price' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="$ctrl.onSortClick('change')">
                    Change
                    <span ng-show="$ctrl.sortType == 'change' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                    <span ng-show="$ctrl.sortType == 'change' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="$ctrl.onSortClick('high')">
                    High
                    <span ng-show="$ctrl.sortType == 'high' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                    <span ng-show="$ctrl.sortType == 'high' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="$ctrl.onSortClick('low')">
                    Low
                    <span ng-show="$ctrl.sortType == 'low' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                    <span ng-show="$ctrl.sortType == 'low' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                </a>
            </th>
            <th>
                <a href="#" ng-click="$ctrl.onSortClick('volume')">
                    Volume
                    <span ng-show="$ctrl.sortType == 'volume' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                    <span ng-show="$ctrl.sortType == 'volume' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                </a>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="coin in $ctrl.assets | orderBy:$ctrl.sortType:$ctrl.sortReverse:$ctrl.search | filter:$ctrl.search">
            <td>{{ coin.ticker }}</td>
            <td>{{ coin.exchange }}</td>
            <td ng-style="coin.price > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.price }}</td>
            <td ng-style="coin.change > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.change }}</td>
            <td>{{ coin.high }}</td>
            <td>{{ coin.low }}</td>
            <td>{{ coin.volume }}K</td>
        </tr>
    </tbody>
</table>
