<table class="crypto-table-overview highlight responsive-table bordered">
    <thead>
    <tr class="centered">
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('ticker')">
                Ticker
                <span ng-show="$ctrl.sortType == ('ticker') && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == 'ticker' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('exchange')">
                Exchange
                <span ng-show="$ctrl.sortType == 'exchange' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == 'exchange' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('changePercent')">
                Change, %
                <span ng-show="$ctrl.sortType == 'changePercent' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == 'changePercent' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('perfomanceWeek')">
                Perfomance week
                <span ng-show="$ctrl.sortType == 'perfomanceWeek' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == 'perfomanceWeek' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('perfomanceMonth')">
                Perfomance month
                <span ng-show="$ctrl.sortType == 'perfomanceMonth' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == 'perfomanceMonth' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('perfomance3Month')">
                Perfomance 3 month
                <span ng-show="$ctrl.sortType == 'perfomance3Month' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == 'perfomance3Month' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('perfomanc6Month')">
                Perfomance 6 month
                <span ng-show="$ctrl.sortType == ('perfomance6Month') && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == ('perfomance6Month') && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
        <th>
            <a href="#" ng-click="$ctrl.onSortClick('perfomanceYear')">
                Perfomance year
                <span ng-show="$ctrl.sortType == 'perfomanceYear' && !$ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_up</i>
                    </span>
                <span ng-show="$ctrl.sortType == 'perfomanceYear' && $ctrl.sortReverse">
                        <i class="material-icons">arrow_drop_down</i>
                </span>
            </a>
        </th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="coin in $ctrl.assets | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:$ctrl.search">
        <td>{{ coin.ticker }}</td>
        <td>{{ coin.exchange }}</td>
        <td ng-style="coin.changePercent > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.changePercent }}</td>
        <td ng-style="coin.perfomanceWeek > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.perfomanceWeek }}</td>
        <td ng-style="coin.perfomanceMonth > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.perfomanceMonth }}</td>
        <td ng-style="coin.perfomance3Month > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.perfomance3Month }}</td>
        <td ng-style="coin.perfomance6Month > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.perfomance6Month }}</td>
        <td ng-style="coin.perfomanceYear > 0 ? { 'color' : 'green' } : { 'color' : 'red' }">{{ coin.perfomanceYear }}</td>
    </tr>
    </tbody>
</table>
